<div class="prmn-cmngr__content">
  <div class="prmn-cmngr__title">
    {{ text_zone }}
    <a class="prmn-cmngr__city">
      <span class="glyphicon glyphicon-map-marker fa fa-map-marker"></span> {{ city }}
    </a>
  </div>
  {{ confirm }}
</div>